
/* Students: Our work lies in the js file. */

body { /* Visual */
    background: black;
    color: whitesmoke;
    text-align: center;
  }
  
.win-count {
    float: left;
}

.loss-count {
    float: right;
}

  #counter {
    font-family: monospace;
    font-size: 120px;
    color: green;
  
    /* Typography */
    text-align: center;
  
    /* Visual */
    background: black;
  }
  
  #wrapper {
    /* Box-model */
    width: 500px;
  
    /* Positioning */
    margin: 100px auto 0;
  }
  
  #buttons { /* Typography */
    text-align: center;
  }
  
  button {
    width: 100px;
  
    /* Box-model */
    height: 50px;
  }
  
  #main-container {
    width: 100%;
    height: 200px;
  
    /* Positioning */
    margin-top: 20px;
  
    /* Box-model */
    overflow: auto;
  
    /* Typography */
    text-align: center;
  
    /* Visual */
    background: white;
  }

  #title-text {
      text-align: center;
      color: seashell;
      padding-top: 15px;
  }

.scorebox {
    padding-top: 50px;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: gray;
    color: whitesmoke;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: green;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding-bottom: 12px;  
    display: none;
    overflow: hidden;
    background-color: gray;
  }